html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	
	vertical-align: baseline;
}


body {
	margin-left: 70px;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 12px;
	font-family: "Times New Roman", serif;
	color: #656565;
	-webkit-text-size-adjust:none;
}

h2 {
	margin-top: 12px;
	margin-bottom: 14px;
}

#container {
	margin-top: 20px;
	width: 959px;
}

#container img {
	margin-bottom: 1px;
	margin-top: 0px;
}

#container p.date {
	color: rgb(36, 110, 179);
	margin-top: 0px;
	margin-bottom: 0px;
}

#blog-intro p{
	line-height: 25px;
	margin-top: 7px; 
	margin-bottom: 23px;
}

a {
	color: rgb(36, 110, 179);
	text-decoration: none;
}

.tiles {
	padding: 2px;
	border-style:solid;
	border-width: 5px;
	border-color: rgb(190,190,190);
	margin-right: -2px;
	margin-left: 0px;
}

/* 
40, 116, 181

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
